
body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}
a:focus{
  outline: 1px solid #222;
}

img{
  max-width: 100%;
}
.img-con{
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  float: left;
}
.bold{
  font-weight: bold;
}
.py-3{
  padding-top: 50px;
  padding-bottom: 50px;
}
.clearfix{
  clear: both;
}
.one-third{
  width: 33%;
  float: left;
}
.two-third{
  width: 67%;
  float: left;
}
.inner-container{
  max-width: 1000px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0,0,0, 0.6);
  overflow: hidden;
  padding: 10px 30px;

}


nav{
	float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: right;
}
.topnav a.logo {
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
}
.topnav a.logo:hover {
  background-color: transparent;
  color: #E367A2;
}

/* Change the color of links on hover */
.topnav a:hover {
 background-color: #E367A2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E367A2;
  color: #000;
}
/* Container holding the image and the text */
.header{
  background-image: url("image/anniversary-beautiful-birthday-birthday-cake-433527.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
      z-index: 1;
    position: relative;

}
.header:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.header.home{
  height: 650px;
}
.header-text{
	clear: both;
	display: block;
	text-align: center;
  color: #ffffff;
  max-width: 400px;
  min-height: 150px;
  margin: auto;
}

.header-text h1{
  font-size: 45px;
  margin-top: 50px;

}
.home .header-text h2{
  font-size: 45px;
  margin-top: 150px;
  text-align: center;
}
.home h1{
  margin: 0px;
}
.header-text p{
  margin-bottom: 40px;
 
}
.sub-heading{
  margin-top: 0px;
  color: #E367A2;
}
.tag-line{
  margin-bottom: 0px;
}

/* add summary immage here*/

.summary-text  {
  text-align: center;
  padding: 0px 30px;
  box-sizing: border-box;

}



.about-us{
  padding-top: 20px;
}
.information{
 padding-bottom: 30px;
}
.facts{
 display: block;

}
.one-fourth{
  width: 25%;
  float: left;
  display: block;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;

}
.one-fourth img{
  max-width: 60px;
  height: 60px;
  border-radius: 30px;

}
.our-service{
  background-image: url("image/cupcake230.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.overflow{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,.7);
}
.our-service .inner-container{
  padding: 150px 0;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.information{
 text-align: center;

 
}
.information h3{
  font-weight: bold; 
  text-transform: uppercase;
}

.one-half{
  width: 50%;
  display: block;
  float: left;

}
.our-story-text{
  padding-top: 20px;
}
.button{
  background-color: #E367A2;
padding: 8px 25px;
color: #000;
text-decoration: none;
font-weight: bold;
}


.coustomer-feedback{
  width: 75%;
  padding: 200px;
  display: block;
  float: left;

}
.comment-1{
  border-style: solid;
}
footer{
  background-color: #222222;
  overflow: hidden;
  color: #ffffff;

}
footer .inner-container{
  padding: 50px 0;
  overflow: hidden;
  
}
.social-icons{
  display: block;
  list-style: none;
}
.social-icons li {
  display: inline-block;
}
.social-icons img{
  width: 32px;
  height: auto;
  margin: 5px;
}



/* kontakt page css*/
label{
  margin: 10px 0px 2px;
  display: block;
}
input{
  margin: 0px;
  padding: 5px 10px;
  width: 200px;
}
textarea{
  height: 120px;
  margin-bottom: 10px;
  width: 300px;
}
.submit{
  background-color: #E367A2;
  color: #000;
  border: 0;
  padding: 10px 20px;
}
.submit:hover{
  color: #222222;
}
.submit:focus{
  outline: 2px solid #222222;
}


/* menupage css */

.menu-container div{
  width: 32%;
  margin-right: 1%;
  float: left;
  display: block;
  height: 320px;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
}
.menu-container img{
 object-fit: cover;
 height: 70%;
 width: 100%;
 transition: transform .2s; /* Animation */
 overflow: hidden;
}
.menu-container img:hover{
 transform: scale(1.1);
 overflow: hidden;
 transition: transform .2s; /* Animation */
}
/* gallery page css */
.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
  margin-top: 20px;
}

.masonry img { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/*event page */
.blog-text{
  padding-left: 20px;
  box-sizing: border-box;
}
.article{
  margin-top: 20px;
  overflow: hidden;
}

.quick-links{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.quick-links a{
  color: #fff;
  }
.quick-links li{
margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .one-fourth, .one-half, .one-third, .two-third, .menu-container div {
    width: 100%;
    box-sizing: border-box;
  }
  .header-text {
  
    padding: 0 20px;
}
.our-story-text {
    padding: 20px 20px 40px;
}
.header {
  height: 350px;
    }
    .inner-container {
    padding: 0 20px;
    box-sizing: border-box;
}
.masonry {
    column-count: 2;
}
.submit {
    margin-bottom: 20px;
}
}

@media screen and (max-width: 480px) {
  .masonry {
    column-count: 1;
}
}